/* ===== PAGE BACKGROUND ===== */
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;

  /* SAME PALETTE AS HOME */
  background: linear-gradient(
    to right,
    #041826 0%,
    #062c44 50%,
    #0b4f78 100%
  );
}

/* ===== LOGIN CARD ===== */
.form-container {
  background: #337daa;
  padding: 28px;
  border-radius: 14px;
  width: 340px;

  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.35);
  backdrop-filter: blur(10px);
}

/* ===== TOGGLE BUTTONS ===== */
.form-toggle {
  display: flex;
  margin-bottom: 24px;
  border-radius: 10px;
  overflow: hidden;
}

.form-toggle button {
  width: 50%;
  padding: 12px;
  background-color: #d9f1ff;
  border: none;
  cursor: pointer;
  font-size: 15px;
  font-weight: 500;
  transition: all 0.3s ease;
}

.form-toggle .active {
  background-color: #0f4077;
  color: white;
}

/* ===== FORM ===== */
.form {
  display: flex;
  flex-direction: column;
}

.form h2 {
  margin-bottom: 20px;
  text-align: center;
  color: #0f172a;
}

/* ===== INPUTS ===== */
.form input,
.form select {
  padding: 12px;
  margin-bottom: 14px;
  border: 1px solid #669dc4;
  border-radius: 8px;
  font-size: 14px;
  transition: border 0.2s ease;
}

.form input:focus,
.form select:focus {
  outline: none;
  border-color: #2563eb;
}

/* ===== PASSWORD BOX ===== */
.password-box {
  position: relative;
  
}

.password-box input {
  width: 84%;
  padding-right: 42px;
}

.eye-icon {
  position: absolute;
  right: 14px;
  top: 50%;
  transform: translateY(-50%);
  color: #2563eb;
  font-size: 15px;
  cursor: pointer;
}

.eye-icon:hover {
  color: #1d4ed8;
}

/* ===== BUTTON ===== */
.form button {
  padding: 12px;
  background: linear-gradient(
    to right,
    #04275c,
    #074871
  );
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 15px;
  font-weight: 500;
  margin-top: 8px;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.form button:hover {
  transform: translateY(-1px);
  box-shadow: 0 8px 20px rgba(37, 99, 235, 0.4);
}

/* ===== SMALL TEXT ===== */
.form p,
.form a {
  font-size: 13px;
  text-align: center;
  margin-top: 10px;
  color: #475569;
}

.form a {
  text-decoration: none;
  color: #2563eb;
}

.form a:hover {
  text-decoration: underline;
}
